/* ==== header ==== */

#header {
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 1px 0 0px rgba(0, 0, 0, 0.02), 0 1px 0 0px rgba(0, 0, 0, 0.02);
  background-color: var(--bs-bgr-color);
  z-index: 999999;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-link-text-color);
  user-select: none;
}

.logo:hover {
  color: var(--primary-color);
  opacity: 1;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 999px;
}

.header .navbar {
  margin-left: 46px;
}

.header .list-item {
  display: flex;
  align-items: center;
}

.header .item-link {
  position: relative;
  display: inline-flex;
  padding: 9px 24px;
  width: 100%;
  font-weight: 600;
  transition: color 0.25s linear;
  color: var(--bs-text-color);
}

.header .item-link::after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: 17%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 2px;
  background-color: var(--bgr-color);
  z-index: 1;
  transition: width 0.35s linear;
}

.item.dropdown {
  position: relative;
}

.item.dropdown ul {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 160px;
  transform: scale(0);
  transform-origin: top left;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.25s linear, transform 0.25s linear;
}

.item.dropdown:hover > ul {
  opacity: 1;
  transform: scale(1);
  background-color: var(--white-color);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.item.dropdown li .item-link {
  justify-content: flex-start;
  border-bottom: 1px solid #6e7e9c49;
}

.item.dropdown:hover > .item-link::after,
.header .item-link:hover::after {
  width: 66%;
  left: 17%;
  right: unset;
}

.header .item-link:hover {
  color: var(--bgr-color);
}

.icon-link {
  margin-left: 8px;
  transition: transform 0.25s linear;
}

.header .item-link:hover .icon-link {
  transform: rotate(360deg);
}
.header .actions {
  width: max-content;
}

.sign-in,
.header .register {
  min-width: 134px;
  font-size: 1.6rem;
  display: inline-block;
  padding: 16px 35px;
  transition: var(--bs-transition);
}

.header .register:hover {
  color: var(--primary-color);
  opacity: 1;
}

.header .sign-in {
  display: inline-block;
  padding: 17px 35px;
  font-weight: 600;
  color: var(--white-color) !important;
}
/* ==== hero ==== */

.hero .title {
  color: var(--primary-color);
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.16;
  margin-top: 12px;
  margin-bottom: 20px;
}

.hero .payment {
  color: var(--bgr-color);
  background-clip: text;
  background: linear-gradient(45deg, #ff6b6b, #0400ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .desc {
  color: var(--bs-text-color);
  font-size: 1.8rem;
  line-height: 1.66;
  margin-bottom: 40px;
}

.hero .annotation {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--bs-text-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7;
}

.hero .hero-btn {
  margin-left: 16px;
  font-size: 2rem;
  border-radius: 8px;
  background: var(--neutral-bgr-color);
  padding: 8px 20px;
}

.hero .hero-btn:hover {
  color: #2efffe;
}
.icon-play {
  display: inline-flex;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border: 1px solid currentColor;
  border-radius: 999px;
}

.hero .col-right {
  position: relative;
}

.hero .col-img {
  height: 562px;
  margin-left: 12%;
  border-radius: 16px;
  overflow: hidden;
}

.hero .deposite {
  position: absolute;
  top: 106px;
  left: 0;
  display: flex;
  align-items: center;
  height: 46px;
  padding: 10px 14px;
  border-radius: 6px;
  background-color: var(--white-color);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  transition: box-shadow 0.25s linear;
}

.hero .interest:hover,
.hero .deposite:hover {
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.3);
}

.hero .icon-img {
  width: 18px;
  height: 18px;
}

.hero .deposite-title {
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 8px;
}

.hero .price {
  color: #4ab5e3;
  font-size: 1.4rem;
  padding-left: 10px;
}

.f8-pro-free {
  object-position: left;
}

.hero .interest {
  position: absolute;
  top: 36%;
  right: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 130px;
  height: 130px;
  border-radius: 999px;
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: box-shadow 0.25s linear;
}

.hero .percent {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1;
}

.hero .content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: var(--white-color);
}

.hero .content .price {
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0;
}

.hero .funds-title {
  color: var(--white-color);
  font-size: 0.8rem;
  line-height: 1.5;
}

/* ==== End hero ==== */

/* storages  */
#storages {
  scroll-margin-top: 96px;
}
.storages {
  display: flex;
  gap: 20px;
  background: #f9f5f5;
}
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 25%;
  background: #5a47474d;
}
.content {
  flex: 1;
}
.lesson-chapter {
  position: sticky;
  top: 96px;
  left: 0;
  min-height: calc(100vh - 96px);
  padding: 10px 20px;
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 600;
  background: #7264d6;
}

/* ==== training-session ==== */
.get-start {
  font-size: 16px;
  min-width: 132px;
  padding-block: 8px;
}

.training-session .session {
  position: relative;
  padding: 8px;
}

.training-session .title {
  margin-bottom: 20px;
  padding-left: 20px;
}

.training-session .item {
  margin-bottom: 16px;
}

.list-item .desc {
  margin-top: 6px;
  font-size: 1.4rem;
}

.homework-link:hover {
  color: var(--bs-text-color);
}

.repoGitHub {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 16px;
  bottom: -28px;
}

/* ===== features ===== */

.section-news .item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 28px;
  margin-bottom: 18px;
  color: var(--second-text-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.section-news .item::before {
  content: "";
  padding: 5px;
  border-radius: 99px;
  background-color: var(--bgr-color);
}

.features .income {
  position: absolute;
  bottom: 10%;
  right: 0;
}

/* ==== about ==== */

.about .row {
  gap: 70px;
}

.about .col-img {
  width: 80%;
  height: 100%;
  padding-inline: 30px;
  background-image: url("../../assets/images/image/bg-img2.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-clip: border-box;
}

.about .method {
  position: absolute;
  bottom: 6%;
  right: 8%;
  height: 220px;
  padding: 28px;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.25s linear;
}

.about .method:hover {
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.3);
}

.about .instructions {
  display: inline-block;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
  margin-bottom: 20px;
}

.about .detail {
  display: flex;
  align-items: center;
  gap: 18px;
}

.about .icon-brand {
  width: 63px;
  height: 48px;
  margin-bottom: 18px;
  transition: box-shadow 0.25s linear;
}

.about .icon-brand:hover {
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.3);
}

.about .dollar {
  position: absolute;
  top: -20%;
  right: -42%;
}

/* ==== feedback ==== */

.feedback {
  text-align: center;
}

.feedback .section-top {
  max-width: 442px;
  margin-inline: auto;
}

.note {
  display: inline-flex;
  margin-bottom: 6px;
  color: var(--primary-color);
}
.note:hover {
  color: var(--primary-color);
  opacity: 0.8;
}

.feedback .title {
  margin-bottom: 18px;
}

.feedback .desc {
  margin-bottom: 70px;
}

.feedback .row {
  gap: 30px;
}

.feedback .news-desc {
  position: relative;
  font-size: 2.2rem;
  font-style: italic;
  line-height: 1.54;
  padding: 42px 28px;
  border-radius: 16px;
  background-color: var(--bs-bgr-color);
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.12));
  transition: filter 0.3s linear;
}

.feedback .col:hover > .news-desc {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.12));
}

.feedback .news-desc::after {
  content: "";
  position: absolute;
  bottom: -86px;
  left: 50%;
  transform: translateX(-50%);
  border: 44px solid;
  border-color: var(--bs-bgr-color) transparent transparent transparent;
}

.feedback .subject {
  margin-top: 80px;
}

.feedback .avatar {
  width: 104px;
  height: 104px;
  margin-bottom: 20px;
  margin-inline: auto;
  border-radius: 999px;
  border: 4px solid var(--bs-bgr-color);
  transform-origin: bottom;
  transition: box-shadow 0.3s linear, transform 0.3s linear;
}

.feedback .col:hover .avatar {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
  transform: scale(1.3);
}
.feedback .avatar img {
  border-radius: 999px;
}

.feedback .member-name {
  color: #070052;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.feedback .job {
  font-size: 1.8rem;
  line-height: 1.66;
  margin-bottom: 20px;
}

.feedback .list-dot {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.feedback .dot {
  display: inline-block;
  width: 20px;
  height: 8px;
  margin-top: 38px;
  border: 1px solid var(--bgr-color);
  border-radius: 99px;
  transition: background-color 0.25s linear;
  cursor: pointer;
}

.feedback .dot:hover,
.feedback .dot:first-child {
  background-color: var(--bgr-color);
}

/* ==== blog ==== */

.blog .blog-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 30px;
  margin-bottom: 30px;
}

.blog .top-left {
  width: 55%;
}
/*
.blog .note {
  margin-bottom: 6px;
} */

.blog .title {
  margin-bottom: 18px;
}

.blog .read-all {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  padding: 14px 30px;
}

.blog .blog-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.blog .blog-item {
  display: flex;
  align-items: center;
  padding: 30px;
  max-width: calc(50% - 15px);
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), -1px 1px 2px 0px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  transition: box-shadow 0.25s linear;
}

.blog .blog-item:hover {
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.08);
}

.blog .blog-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
}
.blog .blog-item .blog-img img {
  filter: brightness(0.7);
  transition: transform 0.5s linear, filter 0.5s linear;
}
.blog .blog-item:hover .blog-img img {
  transform: scale(1.3);
  filter: brightness(1.2);
}

.blog .item-content {
  padding: 10px 0 10px 28px;
}
/*
.blog .blog-item .note::before {
  content: none;
} */

.blog .btn-link::after {
  content: none;
}

.blog .btn-link {
  padding-left: 0;
}

.blog .btn-link:hover {
  color: #7264d6;
}

/* ==== download-app ==== */

.download-app {
  position: relative;
  padding: 100px;
  text-align: center;
  background-color: #7264d6;
  border-radius: 24px;
}

.download-app .app-top {
  max-width: 436px;
  margin-inline: auto;
}
/*
.download-app .note {
  display: inline-flex;
  margin-inline: auto;
  color: var(--white-color);
} */

.download-app .title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: var(--white-color);
}

.download-app .desc {
  margin-bottom: 38px;
  margin-top: 18px;
  line-height: 1.75;
  color: var(--white-color);
}

.download-app .app-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  z-index: 1;
}

.download-app .app-link {
  display: inline-flex;
  background-color: var(--white-color);
  border-radius: 10px;
}

.download-app .app-start {
  position: absolute;
  width: 154px;
  height: 154px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-app .start1 {
  top: 50px;
  left: 112px;
}

.download-app .start2 {
  bottom: 50px;
  right: 122px;
  transform: scale(0.8);
}

.download-app .start3 {
  bottom: 50px;
  left: 122px;
  transform: scale(0.8);
}

.download-app .start4 {
  top: 50px;
  right: 112px;
}

.download-app .start5 {
  bottom: 18%;
  left: 50%;
  transform: scale(0.5);
  transform: translateX(-50%);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    opacity: 0.3;
    filter: brightness(0.7);
    transform: translateX(-50%) rotate(0deg) scale(0.5);
  }
  50% {
    opacity: 1;
    filter: brightness(1.5);
    transform: translateX(-50%) rotate(180deg) scale(1);
  }
  100% {
    opacity: 0.3;
    filter: brightness(0.7);
    transform: translateX(-50%) rotate(360deg) scale(0.5);
  }
}

/* ==== footer ==== */

.footer {
  background-color: #fafbff;
  padding-top: 100px;
}

.footer .footer-content {
  display: flex;
}

.footer .footer-col {
  flex: 1;
}

.footer .title {
  display: inline-block;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
  margin-bottom: 24px;
}

.footer .item-link,
.footer .desc {
  display: block;
  padding-block: 5px;
  color: #6a6e78;
  font-size: 1.8rem;
  line-height: 1.66;
  transition: color 0.25s linear;
}

.footer .item-link:hover {
  color: var(--bgr-color);
}

.footer .email-address {
  margin-bottom: 24px;
  margin-top: 48px;
}

.footer .send-email {
  display: flex;
  gap: 20px;
}

.footer .send-email input {
  width: 270px;
  padding: 10px 16px;
  flex-shrink: 0;
  border-radius: 6px;
  color: #8e919a;
  font-size: 1.6rem;
  line-height: 1.75;
  border: 1px solid #8e919a;
}

.footer .subscribe {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 6px;
  background: var(--bgr-color);
}

.footer .contact {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 54px;
}

.footer .copy-right {
  display: inline-block;
  width: 100%;
  padding-block: 31px;
  margin-top: 28px;
  background: #7264d6;
  color: var(--white-color);
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75;
}
