/* ==== hero ==== */

.hero .title {
  color: var(--primary-color);
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.16;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.hero .payment {
  color: var(--bgr-color);
  background-clip: text;
  background: linear-gradient(45deg, #ff6b6b, #0400ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .desc {
  color: var(--bs-text-color);
  font-size: 1.8rem;
  line-height: 1.66;
  margin-bottom: 4rem;
}

.hero .annotation {
  display: inline-block;
  margin-bottom: 1.6rem;
  color: var(--bs-text-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7;
}

.hero .hero-btn {
  margin-left: 1.6rem;
  font-size: 2rem;
  border-radius: 0.8rem;
  background: var(--neutral-bgr-color);
  padding: 0.8rem 2rem;
}

.hero .hero-btn:hover {
  color: #2efffe;
}
.icon-play {
  display: inline-flex;
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 0.8rem;
  border: 0.1rem solid currentColor;
  border-radius: 99.9rem;
}

.hero .col-right {
  position: relative;
}

.hero .col-img {
  height: 56.2rem;
  margin-left: 12%;
  border-radius: 1.6rem;
  overflow: hidden;
}

.hero .deposite {
  position: absolute;
  top: 10.6rem;
  left: 0;
  display: flex;
  align-items: center;
  height: 4.6rem;
  padding: 1rem 1.4rem;
  border-radius: 0.6rem;
  background-color: var(--white-color);
  box-shadow: 0rem 1rem 2rem 0rem rgba(0, 0, 0, 0.07);
  transition: box-shadow 0.25s linear;
}

.hero .interest:hover,
.hero .deposite:hover {
  box-shadow: 0rem 1.4rem 3.8rem 0rem rgba(0, 0, 0, 0.3);
}

.hero .icon-img {
  width: 1.8rem;
  height: 1.8rem;
}

.hero .deposite-title {
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 0.8rem;
}

.hero .price {
  color: #4ab5e3;
  font-size: 1.4rem;
  padding-left: 1rem;
}

.f8-pro-free {
  object-position: left;
}

.hero .interest {
  position: absolute;
  top: 36%;
  right: -4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 13rem;
  height: 13rem;
  border-radius: 99.9rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: box-shadow 0.25s linear;
}

.hero .percent {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1;
}

/* ==== End hero ==== */

/* storages  */
#storages {
  scroll-margin-top: 9.6rem;
}

.storages {
  display: flex;
  gap: 2rem;
  background: #f9f5f5;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  width: 25%;
  background: #5a47474d;
}

.foreword {
  display: flex;
  padding: 1rem 0;
  font-weight: 900;
  cursor: pointer;
  user-select: none;
}

.course-structure {
  position: sticky;
  top: 9.6rem;
  left: 0;
  min-height: calc(100vh - 9.6rem);
  padding-block: calc(var(--bs-gutter-y) * 0.75);
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 600;
  background: #7264d6;
}

.course-structure > * {
  padding: 0.4rem 2rem;
}

.topic {
  color: #cd9d8f;
  font-size: 2.2rem;
}

.structure {
  margin-block: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.unit {
  padding: 0.4rem 0rem;
  cursor: pointer;
  user-select: none;
}

.unit-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.6rem;
  padding: 0.4rem 0.8rem 0.4rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.unit ul {
  height: auto;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s linear, opacity 0.5s linear;
}

.unit-title.active ~ .lesson-list {
  max-height: 40rem;
  opacity: 1;
  transition: max-height 0.5s linear, opacity 0.5s linear;
}

.lesson-link {
  display: flex;
  padding: 0.6rem 1rem 0.6rem 3rem;
  font-size: 1.3rem;
  border: 0.1rem solid;
  border-color: transparent transparent #877be4 transparent;
}

.lesson-link:hover,
.lesson-link.active {
  background: var(--bgr-color);
}

.foreword,
.lesson-link,
.unit-title {
  transition: color 0.25s linear, background 0.25s linear;
}

.foreword:hover,
.unit-title:hover,
.unit-title.active {
  color: var(--btn-link-text-color);
  background: linear-gradient(180deg, #9488ee, #cdc8f1, #9488ee);
}

/* ==== training-session ==== */

#toggle-preface {
  display: none;
}
.preface {
  padding: 0.8rem;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: background-color 0.5s linear, padding-block 0.5s linear, box-shadow 0.5s linear, max-height 0.5s linear,
    opacity 0.5s linear;
}

#preface.active {
  opacity: 1;
  max-height: 80rem;
  padding-block: 3rem 2rem;
  background-color: var(--white-color);
  box-shadow: 0rem 0.1rem 0.2rem 0rem rgba(0, 0, 0, 0.14), -0.1rem 0.1rem 0.2rem 0rem rgba(0, 0, 0, 0.14);
  scroll-margin-top: 9.6rem;
  margin-top: 0.8rem;
}

.preface-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  padding: calc(var(--bs-gutter-y) * 0.5) 1rem;
}
.preface p {
  padding: 0.6rem 1rem;
  text-align: justify;
}

.content {
  flex: 1;
  padding: 0 0.8rem;
}

.training-content section {
  border-bottom: 0.1rem solid #867d7d3d;
}

.note {
  display: inline-flex;
  margin-bottom: 0.6rem;
  color: var(--primary-color);
}

.note:hover {
  color: var(--primary-color);
  opacity: 0.8;
}

.get-start {
  font-size: 1.6rem;
  padding-block: 0.8rem;
}

.training-session .session {
  position: relative;
  padding: 0.8rem;
}

.training-session .title {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.goto-answer,
.goto-request {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-left: 0.2rem;
  background: url("../images/icons/fly.svg") center/130% no-repeat;
}

.goto-answer {
  background: url("../images/icons/goto-answer.svg") center/120% no-repeat;
}

.training-session .item {
  margin-bottom: 0.4rem;
}

.list-item .desc {
  margin-top: 0.6rem;
  font-size: 1.4rem;
}

.training-session .title:hover,
.homework-link:hover {
  color: var(--bs-text-color);
}

.view-repo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 1.6rem;
  bottom: -2.8rem;
}
.updating {
  background: #cccccca6;
  background-color: #cccccc;
  color: #666666;
  border: none;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  opacity: 0.7;
  /* pointer-events: none; */
  cursor: not-allowed;
}

.updating:hover {
  background: #cccccca6;
  color: #666666;
}

/* ====  training-session-11 ==== */
.session-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 3rem;
  margin-bottom: 1rem;
}

.session-top .top-left {
  flex: 1;
}

.session-top .title {
  margin-bottom: 0;
}

.session-top .view-repo {
  position: unset;
  margin-right: 1.6rem;
}

.session-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.session-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  max-width: calc(50% - 1.5rem);
  border: 0.1rem solid rgba(0, 0, 0, 0.06);
  box-shadow: 0rem 0.1rem 0.2rem 0rem rgba(0, 0, 0, 0.04), -0.1rem 0.1rem 0.2rem 0rem rgba(0, 0, 0, 0.04);
  border-radius: 1.2rem;
  transition: box-shadow 0.25s linear;
}

.session-card:hover {
  box-shadow: 0rem 1.4rem 3.8rem 0rem rgba(0, 0, 0, 0.08);
}

.card-img-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 16rem;
  flex-shrink: 0;
  border-radius: 1.6rem;
  overflow: hidden;
  cursor: pointer;
}

.card-img-link img {
  filter: brightness(0.7);
  transition: transform 0.5s linear, filter 0.5s linear;
}

.card:hover .card-img-link img {
  transform: scale(1.3);
  filter: brightness(1.2);
}

.card-content {
  padding: 0.8rem 0rem 0.8rem 0.8rem;
}
.card .card-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}
.card .card-desc {
  margin-top: 0.6rem;
  font-size: 1.4rem;
  line-height: 1.4;
}
.time-update {
  font-size: 1.2rem;
}

/* ==== download-app ==== */

.download-app {
  position: relative;
  padding: 10rem;
  text-align: center;
  background-color: #7264d6;
  border-radius: 2.4rem;
}

.download-app .app-top {
  max-width: 43.6rem;
  margin-inline: auto;
}
/*
.download-app .note {
  display: inline-flex;
  margin-inline: auto;
  color: var(--white-color);
} */

.download-app .title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: var(--white-color);
}

.download-app .desc {
  margin-bottom: 3.8rem;
  margin-top: 1.8rem;
  line-height: 1.75;
  color: var(--white-color);
}

.download-app .app-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  position: relative;
  z-index: 1;
}

.download-app .app-link {
  display: inline-flex;
  background-color: var(--white-color);
  border-radius: 1rem;
}

.download-app .app-start {
  position: absolute;
  width: 15.4rem;
  height: 15.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-app .start1 {
  top: 5rem;
  left: 11.2rem;
}

.download-app .start2 {
  bottom: 5rem;
  right: 12.2rem;
  transform: scale(0.8);
}

.download-app .start3 {
  bottom: 5rem;
  left: 12.2rem;
  transform: scale(0.8);
}

.download-app .start4 {
  top: 5rem;
  right: 11.2rem;
}

.download-app .start5 {
  bottom: 18%;
  left: 50%;
  transform: scale(0.5);
  transform: translateX(-50%);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    opacity: 0.3;
    filter: brightness(0.7);
    transform: translateX(-50%) rotate(0deg) scale(0.5);
  }
  50% {
    opacity: 1;
    filter: brightness(1.5);
    transform: translateX(-50%) rotate(180deg) scale(1);
  }
  100% {
    opacity: 0.3;
    filter: brightness(0.7);
    transform: translateX(-50%) rotate(360deg) scale(0.5);
  }
}

/* ==== footer ==== */

.footer {
  background-color: #fafbff;
  padding-top: 10rem;
}

.footer .footer-content {
  display: flex;
}

.footer .footer-col {
  flex: 1;
}

.footer .title {
  display: inline-block;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
  margin-bottom: 2.4rem;
}

.footer .item-link,
.footer .desc {
  display: block;
  padding-block: 0.5rem;
  color: #6a6e78;
  font-size: 1.8rem;
  line-height: 1.66;
  transition: color 0.25s linear;
}

.footer .item-link:hover {
  color: var(--bgr-color);
}

.footer .email-address {
  margin-bottom: 2.4rem;
  margin-top: 4.8rem;
}

.footer .send-email {
  display: flex;
  gap: 2rem;
}

.footer .send-email input {
  width: 27rem;
  padding: 1rem 1.6rem;
  flex-shrink: 0;
  border-radius: 0.6rem;
  color: #8e919a;
  font-size: 1.6rem;
  line-height: 1.75;
  border: 0.1rem solid #8e919a;
}

.footer .subscribe {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 0.6rem;
  background: var(--bgr-color);
}

.footer .contact {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-top: 5.4rem;
}

.footer .copy-right {
  display: inline-block;
  width: 100%;
  padding-block: 3.1rem;
  margin-top: 2.8rem;
  background: #7264d6;
  color: var(--white-color);
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75;
}
